/* Light Style */
.lishogi_theme_light.lishogi_widget {
	background: #EEE;
	border: 1px solid #E0E0E0;
	color: black;
}

.lishogi_theme_light.lishogi_widget:hover {
	background: #e0e0e0;
}

.lishogi_theme_light.lishogi_long hr {
	background: #e0e0e0;
}

.lishogi_theme_light.lishogi_widget b {
	font-weight: 800;
	font-size: 100%;
}
